@{
    ViewBag.Title = "Salon de Belleza Nicol";
}
<h2>@ViewBag.Title.</h2>
<h3>Nosotros</h3>

<div>    
    <img style="float: left; margin:10px;" src="~/Imagenes/Nosotros.gif"/>
    <p align="justify">En Nicol Peluquería tenemos más de 20 años de experiencia dedicados enteramente al cuidado del cabello y las uñas. Contamos no solo con los mejores profesionales, sino también con productos y equipos de alta tecnología que aseguran los mejores tratamientos. Además, siempre estamos buscando innovar y seguir aprendiendo de las mejores técnicas de peluquería para brindarte el mejor servicio. Nicol podrá ofrecerte diferentes alternativas según tus necesidades y un servicio completamente personalizado para que te sientas completamente a gusto y relajada.</p>
</div>