@{
    ViewBag.Title = "Contacto";
}
<h2>@ViewBag.Title.</h2>
@*<h3>@ViewBag.Message</h3>*@
<h3>Ubicación</h3>
<address>
    <strong>Dirección:</strong><br />
    Jr. Los Castaños, 871<br />
    Urb. Las Palmeras<br />
    Los Olivos (Lima)<br />
    @*<abbr title="Phone">P:</abbr>
    425.555.0100*@
</address>
    <strong>Telefono:</strong>(01) 529-9622 (Central)<br />   
<address>

</address>

<address>
    <strong>E-mail:</strong>   <a href="mailto:nicolestilista@hotmail.com">nicolestilista@hotmail.com</a><br />
    <strong>Facebook:</strong> <a href="mailto:www.facebook.com">nicol estilista</a>
</address>

<address>
    <strong>Horario de atención:</strong><br />
    Lunes de 12:00 am a 9:00 pm.<br />
    Mieroles a Sabado de 9:00 am a 9:00 pm.<br />
    Domingo de 12:00 am a 7:00 pm.<br />
</address>

<address>
    Contamos con WIFI:<br />
</address>